version: 2

updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    # Disable all pull requests for GitHub Actions dependencies
    open-pull-requests-limit: 0

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: "/11/default"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "debian"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]

  - package-ecosystem: "docker"
    directory: "/11-slim/default"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "debian"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]

  - package-ecosystem: "docker"
    directory: "/12/default"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "debian"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]

  - package-ecosystem: "docker"
    directory: "/12-slim/default"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "debian"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]

  - package-ecosystem: "docker"
    directory: "/13/default"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "debian"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]

  - package-ecosystem: "docker"
    directory: "/13-slim/default"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "debian"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
